/* ===== KHỞI TẠO TRANG ===== */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

body{
    font-family:Inter,sans-serif;
    background:#F6F6F6;
    color:#111;
}

img{
    display:block;
    width:100%;
}

a{
    text-decoration:none;
    color:inherit;
}

ul{
    list-style:none;
}

button{
    border:none;
    cursor:pointer;
}

.container{
    width:min(1200px,90%);
    margin:auto;
}

/* ===== TẠO NAVBAR ===== */
.header{
    width:100%;
    position:fixed;
    top:0;
    left:0;
    background:white;
    z-index:999;
    box-shadow:0 2px 20px rgba(0,0,0,.08);
}

.navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    height:80px;
}

.logo{
    font-size:28px;
    font-weight:700;
}

.nav-menu{
    display:flex;
    gap:40px;
}

.nav-menu a{
    font-weight:500;
}

button{
    background:#111;
    color:white;
    padding:12px 28px;
    border-radius:50px;
}